*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.row-div{
    display: flex;
}

.child-div{
    display: flex;
    background-color: peru;
}

.child-div-hover{
    background-color: darkolivegreen;
}

.reset-btn{
    background-color: lightskyblue;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
}